@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.buttonBlue {
  background-color: #222E51;
  color: #FFFFFF; /* text-white */
  padding-top: 12px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 12px;
  padding-left: 15px;
  gap: 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24.57px;
}

.borderedButton {
  background-color: #FFFFFF;
  color: #222E51; /* text-white */
  padding-top: 12px;
  border: 1px solid #222E51;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24.57px;
}


