@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Jost';
}

body {
  font-family: 'Jost';
}


.ant-modal-content {
  border-radius: 0 !important;
  box-shadow: none !important; 

}
/* .ant-modal-root .ant-modal-mask {
  opacity: 40% !important;

} */


.buttonBlue {
  background-color: #222E51;
  color: #FFFFFF; /* text-white */
  padding-top: 12px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
  font-family: "Jost";
  padding-left: 15px;
  gap: 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24.57px;
}
.buttonWhite {
  background-color: #FFFFFF;
  color: #222E51; /* text-white */
  padding-top: 12px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
  font-family: "Jost";
  padding-left: 15px;
  gap: 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24.57px;
}

.borderedButton {
  background-color: #FFFFFF;
  color: #222E51; /* text-white */
  padding-top: 12px;
  font-family: "Jost";

  border: 1px solid #222E51;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24.57px;
}
.borderedButtonWhite {
  background-color: inherit;
  color: #FFFFFF; /* text-white */
  padding-top: 12px;
  font-family: "Jost";
  border: 1px solid #FFFFFF;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24.57px;
}



li.custom-marker {
  position: relative;
  padding-left: 25px; /* отступ для маркера */
}

li.custom-marker::before {
  content: '✔'; /* символ галочки */
  position: absolute;
  left: 0;
  color: #222E51; /* цвет галочки */
  font-size: 16px; /* размер символа */
}








/* Custom class to hide the scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

















@media (min-width: 300px) and (max-width: 640px) {
  .buttonBlue, .borderedButton , .buttonWhite,
  .borderedButtonWhite  {
    font-size: 13.5px; /* Adjust font size for smaller screens */
    line-height: 21.68px;
  }
}